

main{
    background-color: lavender;
    /* width: 10px !important; */
    /* min-width: 900px; */
    max-width: 900px;
    width:1200px;
    margin: auto;
    /* min-height: 300px; */
    /* max-height: 300px; */
    /* min-height: 100vh; */
  }
  
  p{
    /* width: 300px;
    width: 50%;
    height: 500px;
    height: auto; */
    border: 1px solid red;
  }